body {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

blockquote {
  font-weight: default;
  font-style: normal !important;
}

/* Workaround for not being able to do this in the plugin itself */
.dark .github-mention-icon {
  filter: invert(1);
}
